.logo {
  float: left;
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

#div-library-hexmap {
  height: 800px;
  width: 100%;
}

#btn-sign {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hex-cell {
  stroke: #e0e0e0;
  stroke-width: 1px;
}

.hex-label {
  fill: #ffffff !important;
}

.popup {
  font-family: nunito;
}
