.header img {
  float: left;
  width: 55px;
  height: 55px;
  padding-right: 10px;
}

#div-library-hexmap {
  height: 800px;
  width: 100%;
}

.hex-cell {
  stroke: #e0e0e0;
  stroke-width: 1px;
}

.hex-label {
  fill: #004d38 !important;
}
