#div-library-hexmap {
  height: 800px;
  width: 100%;
}

#btn-sign {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: none;
}

.hex-cell {
  stroke: #e0e0e0;
  stroke-width: 1px;
}

.hex-label {
  fill: #2d7700 !important;
}

.popup {
  font-family: nunito;
}
